*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Trebuchet MS';
}


.wrapper {
  display: flex;
  flex-direction: column; 
  height: 400px;
  width: 350px;
  margin: 100px auto;
  backdrop-filter: blur(5px);
  box-shadow: 0 0 55px #000;
  border-radius: 3%;
}

.list_wrapper{
  padding: 10px 0 10px 0;
  border: 1px solid #000;
  margin: 10px;
}

.list-item{
  list-style-type: none;
}

body{
  /* background-color:blueviolet; */
  background: url('./Img/trees-975091_1920.jpg') no-repeat;
  
}